:root{
  --muted: black;
  --text: black;
  --primary: royalblue;
  --primary-strong: steelblue;
  --danger: red;
  --success: green;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background: radial-gradient(azure 0%, bisque 100%);
  color: var(--text);
}

.app-container {
  min-height: 100%;
  display: grid;
  place-items: center;
  padding: 0;
}

.card {
  width: 100%;
  max-width: 600px;
  background: radial-gradient(tan 0%, wheat 100%);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 10px 30px black;
  padding: 20px;
}

.card h1, .card h2{
  margin: 15px;
  font-weight: 600;
}

.card h3 {
  margin: 30px 15px;
  font-weight: 500;
}

.muted { color: var(--muted); }

.form {
  display: grid;
  gap: 20px;
  margin: 20px;
}

.input {
  padding: 15px;
  background: mintcream;
  border: 1px solid black;
  border-radius: 10px;
  color: var(--text);
  text-align: center;
  font-size: 1rem;
}

.input:focus {
  box-shadow: 0 0 0 5px black;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  color: var(--text);
  cursor: pointer;
}

.btn-primary {
  background: radial-gradient(var(--primary-strong) 0%, var(--primary) 100%);
  color: white;
}

.btn-danger {
  background: radial-gradient(red 0%, crimson 100%);
  color: white;
  padding: 1rem 2rem;
}

.btn-transparent {
  background: none;
  border: none;
  color: var(--primary-strong);
  font-weight: 700;
  padding: 15px 5px;
  font-size: 1.1rem;
  transform: translateY(+1px);
}

.btn:hover:not(:disabled) {
  filter: brightness(1);
  transform: translateY(-1px);
  transition: all 0.1s ease;
}

.btn:active:not(:disabled) {
  transform: translateY(0);
  filter: brightness(0.9);
  transition: all 0.1s ease;
}

.actions {
  display: grid;
  gap: 10px;
  margin: 20px;
}

.status {
  text-align: center;
  margin: 15px;
  font-weight: 600;
}

.logout {
  margin: 1rem 2rem;
  text-align: center;
}

.status.ok    { color: var(--success); }
.status.error { color: var(--danger); }

.hidden { display: none; }
.center { text-align: center; }
.bigger { font-size: 1.2rem; }

.weather-result {
  margin-top: 25px;
  background: mintcream;
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.weather-result h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-strong);
}

.weather-details p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.weather-charts {
  background: mintcream;
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px 20px 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

.chart-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: wheat;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  width: 350px;
  text-align: center;
}

.modal label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

.modal input[type="date"] {
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  width: 95%;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-actions .btn {
  width: 100px;
  text-align: center;
}

